@import "../../app.scss";
    
    .hero{
        height:calc(100vh - 100px);
        overflow: hidden;
        background: linear-gradient(100deg,#0c0c1d,#111132);
        position: relative;

    .imagecontainer{
        position: absolute;
        top: 0;
        right: 0;
       img{
        height: 700px;
        margin-top: -100px;
       }
        @include mobile{
           height: 50px;
           width: 100%;
           top:unset;
           bottom: 0;

           img{
            width: 100%;
            margin-top:-500px;
        align-items: center;
            object-fit: cover;
           } 
           
         }

    }
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        margin-left: 200px;

     img{
        width: 60px;
     }
    }
    .textcontainer{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px; 

        @include mobile{
            height:45%;
            gap: 20px;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-left: -175px;

        }
    }
    h2{
    font-size: 25px;
    color: rebeccapurple;
    letter-spacing: 6px;
    }
    h1{
        font-size: 50px;
        margin-top: -20px;

        @include mobile{
           font-size: 36px;
        }
    }
    .buttons{
       button{
        padding: 15px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        color: white;
        margin-right: 20px;
        font-weight: 300;
       }
    }
    .slidingTextContainor{
        position: absolute;
        font-size: 50vh;
        bottom: 0;
        bottom: -50px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
    }